@model LibreriaPagos.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NombreDeUsuario" class="control-label">Nombre De Usuario</label>
                <input asp-for="NombreDeUsuario" class="form-control" />
                <span asp-validation-for="NombreDeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pasword" class="control-label">Contraseña</label>
                <input asp-for="Pasword" class="form-control" />
                <span asp-validation-for="Pasword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar contraseña</label>
                <input class="form-control" type="text"  name="cc" id="txtcc"/>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoIdEmpleado" class="control-label">Email</label>
                <select asp-for="EmpleadoIdEmpleado" class ="form-control" asp-items="ViewBag.EmpleadoIdEmpleado"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
